.page-resume {
  .hero {
    position: relative;
    margin-bottom: -10px;

    //background-image: linear-gradient(-45deg, #4fa49a 15%, #427bbf 50%, #2e147a);
    &:after {
      content: " ";
      position: absolute;
      top: -50%;
      left: -50%;
      background-image: linear-gradient(-45deg, #4fa49a 15%, #427bbf 50%, #2e147a);
      width: 150%;
      height: 135%;
      transform: skewY(2.8deg);
      z-index: -1;
    }
    .hero-content-wrap {
      padding: 120px 0 80px 0;
      @media (max-width: 768px) {
        padding-top: 0;
      }
    }
    .social-link-wrap {
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
    }
    .social-link {
      display: inline-block;
      background-color: $black;
      margin: 0 auto;
      border-radius: 38px;
      width: 76px;
      height: 76px;
      &.middle {
        margin: 0 20px;
      }
    }
    h2,
    p {
      color: $white;
      margin: 0 auto;
      text-align: center;
      width: 80%;
      max-width: 520px;
    }
    h2 {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      margin-bottom: 25px;
    }

    .button-hollow {
      margin-top: 20px;
      color: $white;
      border-color: $white;
    }
  }

  .section-title {
    font-weight: 400;
    margin: 12px 0 5px 0;
    font-size: 22px;
  }

  .subtitle-right {
    float: right;

    @media (max-width: 610px) {
      display: none;
    }
  }

  .activities-section .subtitle-right {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .subtitle {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;
  }

  ul {
    margin-top: 7px;
    margin-bottom: 12px;
    list-style-type: disc;
    li {
      margin: 2px 0;
      margin-left: 20px;
    }
  }

  .entry-content p {
    margin-bottom: .65em;
  }

  .entry-content {
    padding-top: 0;
    margin-bottom: 30px;
  }

}
